// FONTS
$font-plain: 'Roboto Slab', serif;
$font-cursive: 'Sacramento', cursive;
// COLOURS
$color-main: #4527A0;
$color-main-medium: #7E57C2;
$color-main-light: #D1C4E9;
$color-accent: #26C6DA;
// WINDOW SIZES
$window-xs: 0px;
$window-sm: 768px;
$window-md: 992px;
$window-lg: 1200px;
// OPACITY
$opacity-secondary: 0.54;
// SHADOW
$shadow-low: 0 1px 2px rgba(0, 0, 0, 0.46);
// FONTS
body {
    font-family: 'Roboto', serif;
    font-weight: 300;
}
h1.font-cursive {
    font-family: $font-cursive;
    font-weight: 300;
    font-size: 6em;
}
h2.font-cursive {
    font-family: $font-cursive;
    font-weight: 300;
    font-size: 4em;
}
h3.font-cursive {
    font-family: $font-cursive;
    font-weight: 300;
    font-size: 3em;
}
h4.font-cursive {
    font-family: $font-cursive;
    font-weight: 300;
    font-size: 2.5em;
}
p.font-cursive {
    font-family: $font-cursive;
}
a {
    color: $color-accent;    
}
a:hover {
    color: $color-accent;    
    cursor: pointer;    
}
h1.font-plain {
    font-family: $font-plain;
}
h2.font-plain {
    font-family: $font-plain;
}
h3.font-plain {
    font-family: $font-plain;
}
.text-white {
    color: white;
}
.main-dark {
    color: $color-main;
}
.text-accent {
    color: $color-accent;
}
.text-secondary {
    opacity: $opacity-secondary;
}
// SHADOW
.shadow-low {
    box-shadow: $shadow-low;
}
// FONT WEIGHTS
.font-weight-light {
    font-weight: 200;
}
// NAVBAR
.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: $shadow-low;
}
.navbar-inverse {
    .navbar-header {
        a.navbar-brand {
            color: white;
            font-size: 2em;
            margin-right: 100px;
        }
        a.navbar-brand:hover {
            color: $color-accent;
            font-size: 2em;
        }
    }
    .navbar-nav>li>a {
        color: white;
    }
    .navbar-nav>li>a:hover {
        color: $color-accent;
    }
    .navbar-nav>li.active>a {
        background-color: $color-main;
        border-bottom-color: $color-accent;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
    .navbar-nav>li.active>a:hover {
        background-color: $color-main;
        color: $color-accent;
    }
    background-color: $color-main;
}
// COMPONENTS
.section.full-height {
    height: 1000px;
    .vertical-align {
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
}
.section.half-height {
    height: 700px;
    .vertical-align {
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }
}
.bottom-align {
    bottom: 0px;
}

@for $i from 1 through 20 {
  .animated-delay-#{$i} { 
      -webkit-animation-delay: 0.5s * $i;
    animation-delay: 0.5s * $i;
      -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
   }
}
// TODO: ORGANISE THIS
.height-900px {
    height: 900px;
}
p, li {
    font-size: 1.2em
    }

div.read-more{
    p.caption {
        display: none;
    }
}

div.read-more:hover {    
    cursor: pointer;
    img.read-more-image{
        -webkit-filter: blur(5px); 
        filter: blur(5px);        
    }
    p.caption {
        font-weight: 500;
        color: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 30%;
    }
}

.modal-header.no-underline {
    border-bottom: 0px;
}

.modal-content {
    border-radius: 0px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.carousel-control {
    background-image: none;
    background-color: none;
}

.carousel-caption {
    color: black;
    text-shadow: none;
}

.carousel-control {
    
}

span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
  color: black;
}

p.carousel-lead {
  font-weight: 300;
  font-size: 240%;
  color: $color-main-medium;
}

.carousel-indicators > li {
    background-color: $color-main-light;
}

.carousel-indicators > li.active {
    background-color: $color-main-medium;
}

div.section {
    padding: {
        top: 75px;
        bottom: 75px;
    }
}
div.section.bold {
    background-color: $color-accent;
    color:white;
    h2, h3, h4 {
        color: #4527A0;
    }
}

.underline {
    text-decoration: underline;
}

.image-banner {
      position: relative;
      width: 100%;
}

.image-banner > .image-banner-caption {
      position: absolute;
      font-weight: 300;
      font-size: 5em;
      color: #26C6DA;
      background-color: white;
      padding: 10px;
}

.image-banner > .image-banner-caption.right {
    right: 2%;
}

.image-banner > .image-banner-caption.left {
    left: 2%;
}

.image-banner > .image-banner-caption.bottom {
    bottom: 2%;
}

.image-banner > .image-banner-caption.top {
    top: 2%;
}