body {
  font-family: 'Roboto', serif;
  font-weight: 300; }

h1.font-cursive {
  font-family: "Sacramento", cursive;
  font-weight: 300;
  font-size: 6em; }

h2.font-cursive {
  font-family: "Sacramento", cursive;
  font-weight: 300;
  font-size: 4em; }

h3.font-cursive {
  font-family: "Sacramento", cursive;
  font-weight: 300;
  font-size: 3em; }

h4.font-cursive {
  font-family: "Sacramento", cursive;
  font-weight: 300;
  font-size: 2.5em; }

p.font-cursive {
  font-family: "Sacramento", cursive; }

a {
  color: #26C6DA; }

a:hover {
  color: #26C6DA;
  cursor: pointer; }

h1.font-plain {
  font-family: "Roboto Slab", serif; }

h2.font-plain {
  font-family: "Roboto Slab", serif; }

h3.font-plain {
  font-family: "Roboto Slab", serif; }

.text-white {
  color: white; }

.main-dark {
  color: #4527A0; }

.text-accent {
  color: #26C6DA; }

.text-secondary {
  opacity: 0.54; }

.shadow-low {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.46); }

.font-weight-light {
  font-weight: 200; }

.navbar.navbar-inverse.navbar-fixed-top {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.46); }

.navbar-inverse {
  background-color: #4527A0; }
  .navbar-inverse .navbar-header a.navbar-brand {
    color: white;
    font-size: 2em;
    margin-right: 100px; }
  .navbar-inverse .navbar-header a.navbar-brand:hover {
    color: #26C6DA;
    font-size: 2em; }
  .navbar-inverse .navbar-nav > li > a {
    color: white; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #26C6DA; }
  .navbar-inverse .navbar-nav > li.active > a {
    background-color: #4527A0;
    border-bottom-color: #26C6DA;
    border-bottom-width: 5px;
    border-bottom-style: solid; }
  .navbar-inverse .navbar-nav > li.active > a:hover {
    background-color: #4527A0;
    color: #26C6DA; }

.section.full-height {
  height: 1000px; }
  .section.full-height .vertical-align {
    position: relative;
    top: 45%;
    transform: translateY(-50%); }

.section.half-height {
  height: 700px; }
  .section.half-height .vertical-align {
    position: relative;
    top: 45%;
    transform: translateY(-50%); }

.bottom-align {
  bottom: 0px; }

.animated-delay-1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-3 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-4 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-6 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-7 {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-8 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-9 {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-10 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-11 {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-12 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-13 {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-14 {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-15 {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-16 {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-17 {
  -webkit-animation-delay: 8.5s;
  animation-delay: 8.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-18 {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-19 {
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-delay-20 {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.height-900px {
  height: 900px; }

p, li {
  font-size: 1.2em; }

div.read-more p.caption {
  display: none; }

div.read-more:hover {
  cursor: pointer; }
  div.read-more:hover img.read-more-image {
    -webkit-filter: blur(5px);
    filter: blur(5px); }
  div.read-more:hover p.caption {
    font-weight: 500;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 30%; }

.modal-header.no-underline {
  border-bottom: 0px; }

.modal-content {
  border-radius: 0px; }

.carousel-control.right, .carousel-control.left {
  background-image: none; }

.carousel-control {
  background-image: none;
  background-color: none; }

.carousel-caption {
  color: black;
  text-shadow: none; }

span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
  color: black; }

p.carousel-lead {
  font-weight: 300;
  font-size: 240%;
  color: #7E57C2; }

.carousel-indicators > li {
  background-color: #D1C4E9; }

.carousel-indicators > li.active {
  background-color: #7E57C2; }

div.section {
  padding-top: 75px;
  padding-bottom: 75px; }

div.section.bold {
  background-color: #26C6DA;
  color: white; }
  div.section.bold h2, div.section.bold h3, div.section.bold h4 {
    color: #4527A0; }

.underline {
  text-decoration: underline; }

.image-banner {
  position: relative;
  width: 100%; }

.image-banner > .image-banner-caption {
  position: absolute;
  font-weight: 300;
  font-size: 5em;
  color: #26C6DA;
  background-color: white;
  padding: 10px; }

.image-banner > .image-banner-caption.right {
  right: 2%; }

.image-banner > .image-banner-caption.left {
  left: 2%; }

.image-banner > .image-banner-caption.bottom {
  bottom: 2%; }

.image-banner > .image-banner-caption.top {
  top: 2%; }

.circle_emphasis {
  background-color: red; }

/*# sourceMappingURL=core.css.map */
